<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>sample</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<div id="app">
  <div v-for="fruit in fruits_list">
    <input type="checkbox" v-bind:value="fruit" v-model="fruits">
    <label v-bind:for="fruit">{{fruit}}</label>
  </div>
<br>
  <span>選択したくだもの: {{ fruits }}</span>
</div>
<script>
let app=Vue.createApp({
  el: '#app',
  data() {
    return{
      fruits_list:["もも","りんご","みかん"],
      fruits: []
    }
  }
}).mount('#app');
</script>
</body>
</html>